{% extends 'includes/base.html' %}

{% block body %}
<div class="m-3 w-auto ">
    <fieldset class="border p-3" >
        <legend class ='float-none w-auto'>New Forms</legend>
        <div class="d-flex row justify-content-center">
            <a href="{{ 'cbr' }}" class="btn btn-outline-secondary col-sm-2 m-1">Counterbalance</a>
            <a href="#" class="btn btn-outline-secondary col-sm-2 m-1">MEWP</a>
            <a href="#" class="btn btn-outline-secondary col-sm-2 m-1">Overhead Crane</a>
            <a href="#" class="btn btn-outline-secondary col-sm-2 m-1">Abrasive Wheels</a>
            <a href="#" class="btn btn-outline-secondary col-sm-2 m-1">PPT</a>
        </div>
    </fieldset>
</div>

<div class="m-3 w-auto ">
    <fieldset class="border p-3" >
        <legend class ='float-none w-auto'>Open Forms</legend>
        <div class="d-flex justify-content-between row">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th>Course Type</th>
                        <th>Candidate Name</th>
                        <th>Start Date</th>
                        <th>Finish Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr>
                        <td>{{ form }}</td>
                        <td><a href="cbr/{{ form.id }}">{{ form.candidate_Name }}</a></td>
                        <td>{{ form.start_Date }}</td>
                        <td>{{ form.finish_Date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

{% endblock %}