venv
.venv
.idea
.devcontainer
__pycache__
data
/static
Dockerfile
docker-compose.yml
.dockerignore
tttforms.db
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
