{% extends 'includes/base.html' %}

{% block body %}
<div class="container">
    <div class="row mt-4">
        <table class="table-responsive">
            <tr>
                <th>Name</th>
                <th>Course Type</th>
                <th>Instructor</th>
                <th>Company Name</th>
                <th>Tops ID</th>
                <th>Certificate</th>
            </tr>
            {% for form in forms %}
                <tr>
                    <td><a href="{{ form.form_type }}/{{ form.form_type.id }}">{{ form.form_type.candidate_Name }}</a></td>
                    <td>{{ form.form_type.course_type }}</td>
                    <td>{{ form.form_type.instructor }}</td>
                    <td>{{ form.form_type.company_Name }}</td>
                    <td>{{ form.form_type.candidateTopsId }}</td>
                    <td>{{ form.certificate }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}