{% extends 'includes/base.html' %}
{% block body %}
{% load crispy_forms_tags %}
{% load my_filters %}
  {% include 'induction.html' %}
  <div class="container-xl mt-5">
    <h3>Course Evaluation Sheet</h3>
    <p>Thank you for attending this course. Thomas Truck Training values the opinions of our clients. Please tick a box to indicate your views: 1 being poor, 5 being excellent</p>
    <table class='table'>
      <tr>
        <td></td>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
      </tr>
      {% for q in eval %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ q }}</td>
          {% with forloop.counter|stringformat:"s" as x %}
          {% with 'review_'|add:x as question %}
          {% with review|get_form_field:question as radios %}
          {% if forloop.counter > 9 %}
              <td colspan="5"  >{{ radios| as_crispy_field }}</td>
          {% else %}
            {% for radio in radios %}
              <td class="radio">{{ radio.tag }}</td>
            {% endfor %}
          {% endif %}
          {% endwith %}
          {% endwith %}
          {% endwith %}
        </tr>
      {% endfor %}
    </table>
    
    

</div>

{% endblock %}